In [1]:
import pandas as pd        # For reading CSV, Excel, JSON
import numpy as np         # For numerical operations
import matplotlib.pyplot as plt  # For plotting
import seaborn as sns      # For advanced visualizations

In [2]:
# Load your dataset
df = pd.read_csv("/home/vikhil/GROUP_1-INFOSYS/Member_Vikhil/Datasets/fake_job_postings.csv")  
print("\nSuccessfully loaded the dataset.")
#df = pd.read_csv("/home/vikhil/INFOSYS/Datasets/student_data.csv")

Successfully loaded the dataset.

In [3]:
# --- Initial Data Exploration ---
print("\n--- Dataset Overview ---")
print(f"Shape of the dataset (rows, columns): {df.shape}")

--- Dataset Overview ---
Shape of the dataset (rows, columns): (17880, 18)

In [4]:
print("\n--- First 5 Rows ---")
print(df.head())

--- First 5 Rows ---
   job_id                                      title            location  \
0       1                           Marketing Intern    US, NY, New York
1       2  Customer Service - Cloud Video Production      NZ, , Auckland
2       3    Commissioning Machinery Assistant (CMA)       US, IA, Wever
3       4          Account Executive - Washington DC  US, DC, Washington
4       5                        Bill Review Manager  US, FL, Fort Worth

  department salary_range                                    company_profile  \
0  Marketing          NaN  We're Food52, and we've created a groundbreaki...
1    Success          NaN  90 Seconds, the worlds Cloud Video Production ...
2        NaN          NaN  Valor Services provides Workforce Solutions th...
3      Sales          NaN  Our passion for improving quality of life thro...
4        NaN          NaN  SpotSource Solutions LLC is a Global Human Cap...

                                         description  \
0  Food52, a fast-growing, James Beard Award-winn...
1  Organised - Focused - Vibrant - Awesome!Do you...
2  Our client, located in Houston, is actively se...
3  THE COMPANY: ESRI â€“ Environmental Systems Rese...
4  JOB TITLE: Itemization Review ManagerLOCATION:...

                                        requirements  \
0  Experience with content management systems a m...
1  What we expect from you:Your key responsibilit...
2  Implement pre-commissioning and commissioning ...
3  EDUCATION:Â Bachelorâ€™s or Masterâ€™s in GIS, busi...
4  QUALIFICATIONS:RN license in the State of Texa...

                                            benefits  telecommuting  \
0                                                NaN              0
1  What you will get from usThrough being part of...              0
2                                                NaN              0
3  Our culture is anything but corporateâ€”we have ...              0
4                              Full Benefits Offered              0

   has_company_logo  has_questions employment_type required_experience  \
0                 1              0           Other          Internship
1                 1              0       Full-time      Not Applicable
2                 1              0             NaN                 NaN
3                 1              0       Full-time    Mid-Senior level
4                 1              1       Full-time    Mid-Senior level

  required_education                   industry              function  \
0                NaN                        NaN             Marketing
1                NaN  Marketing and Advertising      Customer Service
2                NaN                        NaN                   NaN
3  Bachelor's Degree          Computer Software                 Sales
4  Bachelor's Degree     Hospital & Health Care  Health Care Provider

   fraudulent
0           0
1           0
2           0
3           0
4           0

In [5]:
print("\n--- Data Types and Non-Null Counts ---")
df.info()

--- Data Types and Non-Null Counts ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15184 non-null  object
 8   benefits             10668 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [6]:
#Handle Missing Values
# Fill NaN with empty string for text columns
text_cols = ['company_profile', 'description', 'requirements']
for col in text_cols:
    df[col] = df[col].fillna("")

In [7]:

# ðŸ”¹ Step 1: Drop rows with missing 'description' or 'requirements'
df = df.dropna(subset=['description', 'requirements'])

# ðŸ”¹ Step 2: Fill missing 'department' with placeholder
df['department'] = df['department'].fillna("Unknown")

def clean_location(loc):
    if pd.isna(loc):
        return "Unknown"
    parts = [p.strip() for p in str(loc).split(',') if p.strip()]
    return ', '.join(parts)

df['location'] = df['location'].apply(clean_location)

# ðŸ”¹ Step 4: Optional â€” fill missing company_profile or salary_range
df['company_profile'] = df['company_profile'].fillna("Not Provided")
df['salary_range'] = df['salary_range'].fillna("Not Disclosed")

# ðŸ”¹ Step 5: Reset index after cleaning
df = df.reset_index(drop=True)

# ðŸ”¹ Step 6: Preview cleaned data
print(df[['job_id', 'title', 'location', 'department', 'description']].head())

   job_id                                      title            location  \
0       1                           Marketing Intern    US, NY, New York
1       2  Customer Service - Cloud Video Production        NZ, Auckland
2       3    Commissioning Machinery Assistant (CMA)       US, IA, Wever
3       4          Account Executive - Washington DC  US, DC, Washington
4       5                        Bill Review Manager  US, FL, Fort Worth

  department                                        description
0  Marketing  Food52, a fast-growing, James Beard Award-winn...
1    Success  Organised - Focused - Vibrant - Awesome!Do you...
2    Unknown  Our client, located in Houston, is actively se...
3      Sales  THE COMPANY: ESRI â€“ Environmental Systems Rese...
4    Unknown  JOB TITLE: Itemization Review ManagerLOCATION:...

In [8]:
output_path = "/home/vikhil/GROUP_1-INFOSYS/Member_Vikhil/Datasets/fake_job_cleaned_dataset.csv"
df.to_csv(output_path, index=False)

print(f"\n Dataset saved as '{output_path}'")

 Dataset saved as '/home/vikhil/GROUP_1-INFOSYS/Member_Vikhil/Datasets/fake_job_cleaned_dataset.csv'